<!-- form_with -->
<div id="form-partial">
  <%= form_with model: flat do |form| %>
  <div>
    <p class="label"><%= form.label :name, "Flat name" %></p>
    <p class="field"><%= form.text_field :name, placeholder: "Flat name" %></p>
    <% flat.errors.full_messages_for(:name).each do |message| %>
      <div class="error-message"><%= message %></div>
    <% end %>
  </div>

  <div>
    <p class="label"><%= form.label :address, "Flat address" %></p>
    <p class="field"><%= form.text_field :address, placeholder: "ex: 10 rue des rosier, 75006, Paris" %></p>
    <% flat.errors.full_messages_for(:address).each do |message| %>
      <div class="error-message"><%= message %></div>
    <% end %>
  </div>

  <div>
    <p class="label"><%= form.label :description, "Flat description" %></p>
    <p class="field"><%= form.text_area :description %></p>
    <% flat.errors.full_messages_for(:description).each do |message| %>
      <div class="error-message"><%= message %></div>
    <% end %>
  </div>

  <div>
    <p class="label"><%= form.label :number_of_guests, "Number of guests" %></p>
    <p class="field"><%= form.number_field :number_of_guests, min:1 %></p>
    <% flat.errors.full_messages_for(:number_of_guests).each do |message| %>
      <div class="error-message"><%= message %></div>
    <% end %>
  </div>

  <div>
    <p class="label"><%= form.label :price_per_night, "Price per night ($)" %></p>
    <p class="field"></p><%= form.number_field :price_per_night, step: 0.01, min:0 %>
    <% flat.errors.full_messages_for(:price_per_night).each do |message| %>
      <div class="error-message"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit("Save")%>
  </div>
<% end %>
</form>

<% if notice %>
  <= <div class="notice"><%= notice %></div> >
<% end %>
