<section id="show-container">
  <div class="area">

    <h2> <%= @flat.name %> </h2>
    <div class="flat-picture" style="background-image: url(<%=@flat.picture_url%>);"></div>
    <h4 class="flat-address"> <%= @flat.address %> </h4>
    <div class="decoration"></div>

    <div class="items-display">

      <div class="show-display">
        <h4>A quick description...</h4>
        <p> <%= @flat.description %> </p>
      </div>

      <div class="booking">
        <div class="txt">
          <p class="price"> <%= @flat.price_per_night %>€</p><p>per night</p>
        </div>

        <turbo-frame id="booking-display" src="<%= new_flat_booking_path(@flat)%>">
          <p>Booking form loading...💃</p>
        </turbo-frame>

        </div>
      </div>
    </div>
  </div>
</section>
